/*css复合选择器=====================================================================================================*/
/*包括：后代选择器、子选择器、并集选择器、伪类选择器*/

/*后代选择器*/
/*元素1 和 元素2 中间用空格隔开*/
/*元素1 是父级，元素2 是子级，最终选择的是元素2*/
/*元素2 可以是儿子，也可以是孙子等，只要是元素1 的后代即可*/
/*元素1 和 元素2 可以是任意基础选择器*/
ol li {
    color: aqua;
}

ol li a {
    color: royalblue;
}

.nav li {
    color: yellowgreen;
}

/*子选择器*/
/*元素1 和 元素2 中间用 大于号 隔开*/
/*元素1 是父级，元素2 是子级，最终选择的是元素2*/
/*元素2 必须是亲儿子，其孙子、重孙之类都不归他管. 你也可以叫他 亲儿子选择器*/
ol > a {
    color: chocolate;
}

/*并集选择器*/
/*元素1 和 元素2 中间用逗号隔开,习惯竖着写*/
/*逗号可以理解为和的意思*/
/*并集选择器通常用于集体声明*/
p,
div,
.pig li {
    background-color: aquamarine;
}

/*伪类选择器*/
/*伪类选择器用于向某些选择器添加特殊的效果，比如给链接添加特殊效果，或选择第1个，第n个元素*/
/*伪类选择器书写最大的特点是用冒号（:）表示，比如 :hover 和 :first-child */

/*链接伪类选择器*/
a:link { /*没有点击过的(访问过的)链接*/
    color: blue;
    text-decoration: none;
}

a:visited { /*点击过的(访问过的)链接*/
    color: orange;
}

a:hover { /*鼠标经过的那个链接*/
    color: skyblue;
}

a:active { /*鼠标正在按下还没有弹起鼠标的那个链接*/
    color: greenyellow;
}

/*链接伪类选择器注意事项*/
/*为了确保生效，请按照 LVHA 的循顺序声明 :link－:visited－:hover－:active*/
/*记忆法：love hate 或者 lv 包包 hao */
/*因为 a 链接在浏览器中具有默认样式，所以我们实际工作中都需要给链接单独指定样式*/
/*链接伪类选择器实际工作开发中的写法*/
a {
    color: grey;
}

a:hover {
    color: red;
}

/*focus伪类选择器*/
/*:focus 伪类选择器用于选取获得焦点的表单元素*/
/*焦点就是光标，一般情况 <input> 类表单元素才能获取*/
input:focus {
    background-color: yellow;
}

/*css显示模式========================================================================================================*/
/*块元素*/
/*常见的块元素：<h1>~<h6> 、<p> 、<div> 、<ul> 、<ol> 、<li>*/
/*<div> 标签是最典型的块元素*/
/*比较霸道，自己独占一行*/
/*高度，宽度、外边距以及内边距都可以控制*/
/*宽度默认是容器（父级宽度）的100%*/
/*是一个容器及盒子，里面可以放行内或者块级元素*/
/*文字类的元素内不能放块级元素,比如<p>和<h1>~<h6>*/

/*行内元素*/
/*常见的行内元素：<a> 、<strong> 、<b> 、<em> 、<i> 、<del> 、<s> 、<ins> 、<u> 、<span>*/
/*<span> 标签是最典型的行内元素。有的地方也将行内元素称为内联元素*/
/*相邻行内元素在一行上，一行可以显示多个*/
/*高、宽直接设置是无效的。*/
/*默认宽度就是它本身内容的宽度。*/
/*行内元素只能容纳文本或其他行内元素。*/
/*链接里面不能再放链接*/
/*特殊情况链接<a>里面可以放块级元素，但是给<a>转换一下块级模式最安全*/

/*行内块元素*/
/*常见的行内块标签：<img/>、<input/>、<td>*/
/*它们同时具有块元素和行内元素的特点。有些资料称它们为行内块元素*/
/*和相邻行内元素（行内块）在一行上，但是他们之间会有空白缝隙*/
/*一行可以显示多个（行内元素特点）*/
/*默认宽度就是它本身内容的宽度（行内元素特点）*/
/*高度，行高、外边距以及内边距都可以控制（块级元素特点）*/

/*元素显示模式的转换*/
/*一个模式的元素需要另外一种模式的特性,比如想要增加链接<a>的触发范围。*/
/*转换方式*/
/*转换为块元素：display:block;*/
/*转换为行内元素：display:inline;*/
/*转换为行内块：display: inline-block;*/
a {
    width: 150px;
    height: 50px;
    background-color: pink;
    display: block;
}
div {
    width: 300px; /*成为行内元素后宽和高已经无效*/
    height: 100px;
    background-color: deeppink;
    display: inline;
}
span {
    width: 100px;
    height: 30px;
    background-color: green;
    display: inline-block;
}

/*单行文字垂直居中的代码*/
/*让文字的行高等于盒子的高度  就可以让文字在当前盒子内垂直居中*/


/*css背景============================================================================================================*/
/*背景颜色*/
span {
    /*background-color: cornflowerblue;*/
    /*background-color: transparent;*//*默认是透明的*/
    background: rgba(0,0,0,.3);
    /*
    最后一个参数是 alpha 透明度，取值范围在 0~1之间
    我们习惯把 0.3 的 0 省略掉，写为 background: rgba(0, 0, 0, .3);
    背景半透明是指盒子背景半透明，盒子里面的内容不受影响
    CSS3 新增属性，是 IE9+ 版本浏览器才支持的，但是现在实际开发,我们不太关注兼容性写法了,可以放心使用
     */

}

/*背景图片*/
div {
    width: 300px;
    height: 300px;
    background-image: url("images/logo.png");
    background-repeat: no-repeat;
    /*background-repeat: repeat;*//*默认是平铺的*/
    /*background-repeat: repeat-x;*//*沿着x轴平铺*/
    /*background-repeat: repeat-y;*//*沿着y轴平铺*/
    background-position: left top;
    background-position: 20px 50px;
    /*
    1、参数是方位名词
        如果指定的两个值都是方位名词，则两个值前后顺序无关，比如 left  top 和 top  left 效果一致
        如果只指定了一个方位名词，另一个值省略，则第二个值默认居中对齐
    2、参数是精确单位
        如果参数值是精确坐标，那么第一个肯定是 x 坐标，第二个一定是 y 坐标
        如果只指定一个数值，那该数值一定是 x 坐标，另一个默认垂直居中
    3、参数是混合单位
        如果指定的两个值是精确单位和方位名词混合使用，则第一个值是 x 坐标，第二个值是 y 坐标
     */
    background-attachment: scroll;/*背景图片滚动*/
    /*background-attachment: fixed;*//*背景图片固定*/

    /*背景样式合写*/
    /*background: 背景颜色 背景图片地址 背景平铺 背景图像滚动 背景图片位置;*/

}







